:root {
    --primary-color: black;
    --white-color: #ffff;
    --gap: 3rem;
    --light-gray-color: #cecbcb;
    --secondery-color: #7c3783;

}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 3rem;

}

h6 {
    font-size: 2rem;
}

p {
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.main-bg {
    background-image: url('../img/mainbg.svg');
    background-size: cover;
    background-position: center center;
}

.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 1;
    border-bottom: var(--secondery-color) solid 0.2rem;
    background-color: var(--white-color);
}

.menu-content {
    overflow: hidden;
}

.menu h1 {
    margin: 0;
    float: left;
    padding: 1rem;
}

.menu nav ul {
    list-style-type: none;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-end;

}

/* .menu ul li {
    padding: 1rem;
} */

.menu ul li a {
    text-decoration: none;
    color: var(--primary-color);
    /* padding: 1rem; */
    display: block;
    padding: 1rem;
    position: relative;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1rem;
    left: 50%;
    width: 0%;
    height: 0.2rem;
    background: var(--secondery-color);
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
    width: 50%;
    left: 25%;
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.spacing {
    margin: 2rem;
}

.menu-spacing {
    display: flex;
    padding-top: 6rem;
}

/* .experiencias {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    align-items: center;

} */

.main-content {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-width: 80%;
    max-width: 80%;
    min-height: 100vh;
}

.resumo p {
    text-align: left;
}

.resumo p::first-letter {
    font-size: 2.5rem;
    font-weight: bold;
    padding-left: 5rem;
}

.footer {
    display: flex;
    flex-direction: row;    
    bottom: 0;
    align-items: center;
    justify-content: center;

}

.github {
    padding: 0 2rem 0 2rem;
}


.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--white-color);
    width: 5rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
    border: 0.1rem solid var(--primary-color);
}

@media (max-width: 800px) {
    .menu {
        text-align: center;
        bottom: 0;
        display: flex;
    }

    .menu h1 {
        width: 100%;
        justify-content: center;
    }

    .menu nav ul {
        list-style-type: none;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 60vh;
    }

    .menu-content {
        height: 100vh;
    }

    .menu {
        display: none;
    }

    .close-menu {
        position: fixed;
        z-index: 2;
        top: 0;
        left: 0;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--white-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .info-mobile {
        text-align: left;

    }

    .info-mobile::first-letter{
        padding-left: 2rem;
        font-weight: bold;
    }
}